<div class="fullscreen" style="height:300px">
    <app-shared></app-shared>
    <div class="row text-center" style="padding-left: 37%;padding-top: 4%">
    <div class="row">
      <div class="col-x1-9-mx-auto">
        <h1 style="color:rgb(255, 255, 255)">Learn the Basics</h1>
        <p style="color: rgba(255, 255, 255, 0.5)">Learn Request and response using commands</p>
        </div>
      </div>
    </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <div class= "row">

        <div class="col-sm-6 col-sm-offset-6" >

          <carousel class="text-center">
              <h2>PING and Tracert</h2>
              <slide>
                <img class="img-carousel-main"src="assets/images/Slide1.jpg" alt="first slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>First slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </slide>
              <slide>
                <img class="img-carousel-main" src="assets/images/Slide2.jpg" alt="second slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </slide>
              <slide>
                <img class="img-carousel-main" src="assets/images/Slide3.jpg" alt="third slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Third slide label</h3>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </slide>
              <slide>
                  <img class="img-carousel-main" src="assets/images/Slide4.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
              </slide>
                <slide><img class="img-carousel-main" src="assets/images/Slide5.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets/images/Slide6.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets/images/Slide7.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets/images/Slide8.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets/images/Slide9.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets/images/Slide10.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
            </carousel>
      </div>
      <div class="col-sm-6 col-sm-offset-6">
          <carousel class="text-center">
              <h2>DNS and BIND</h2>
              <slide>
                <img class="img-carousel-main"src="assets/images/DNS/10_dns/Slide1.jpg" alt="first slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>First slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </slide>
              <slide>
                <img class="img-carousel-main" src="assets/images/DNS/10_dns/Slide2.jpg" alt="second slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </slide>
              <slide>
                <img class="img-carousel-main" src="assets/images/DNS/10_dns/Slide3.jpg" alt="third slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Third slide label</h3>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </slide>
              <slide>
                  <img class="img-carousel-main" src="assets/images/DNS/10_dns/Slide4.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
              </slide>
                <slide><img class="img-carousel-main" src="assets/images/DNS/10_dns/Slide5.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets/images/DNS/10_dns/Slide6.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets/images/DNS/10_dns/Slide7.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets/images/DNS/10_dns/Slide8.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets/images/DNS/10_dns/Slide9.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets/images/DNS/10_dns/Slide10.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
            </carousel>
      </div>
      <div class="col-sm-6 col-sm-offset-6">

          <carousel class="text-center">
              <h2>Latency and throughput</h2>
              <slide>
                <img class="img-carousel-main"src="assets\images\latency\perform\Slide1.jpg" alt="first slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>First slide label</h3>
                  <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                </div>
              </slide>
              <slide>
                <img class="img-carousel-main" src="assets\images\latency\perform\Slide2.jpg" alt="second slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Second slide label</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </slide>
              <slide>
                <img class="img-carousel-main" src="assets\images\latency\perform\Slide3.jpg" alt="third slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">
                  <h3>Third slide label</h3>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
              </slide>
              <slide>
                  <img class="img-carousel-main" src="assets\images\latency\perform\Slide4.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
              </slide>
                <slide><img class="img-carousel-main" src="assets\images\latency\perform\Slide5.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets\images\latency\perform\Slide6.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets\images\latency\perform\Slide7.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets\images\latency\perform\Slide8.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets\images\latency\perform\Slide9.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
                <slide><img class="img-carousel-main" src="assets\images\latency\perform\Slide10.jpg" alt="third slide" style="display: block; width: 70%;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Third slide label</h3>
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
                </slide>
            </carousel>
      </div>
      <div class="col-sm-6 col-sm-offset-8">

        <carousel class="text-center">
            <h2>DEMO</h2>
            <slide>
              <img class="img-carousel-main"src="assets\images\Todays Demo\Knowledge Forum\Slide1.jpg" alt="first slide" style="display: block; width: 70%;">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </slide>
            <slide>
              <img class="img-carousel-main" src="assets\images\Todays Demo\Knowledge Forum\Slide2.jpg" alt="second slide" style="display: block; width: 70%;">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </slide>
            <slide>
              <img class="img-carousel-main" src="assets\images\Todays Demo\Knowledge Forum\Slide3.jpg" alt="third slide" style="display: block; width: 70%;">
              <div class="carousel-caption d-none d-md-block">

              </div>
            </slide>
            <slide>
                <img class="img-carousel-main" src="assets\images\Todays Demo\Knowledge Forum\Slide4.jpg" alt="third slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">

                </div>
            </slide>
              <slide><img class="img-carousel-main" src="assets\images\Todays Demo\Knowledge Forum\Slide5.jpg" alt="third slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">

                </div>
              </slide>
              <slide><img class="img-carousel-main" src="assets\images\Todays Demo\Knowledge Forum\Slide6.jpg" alt="third slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">

                </div>
              </slide>
              <slide><img class="img-carousel-main" src="assets\images\Todays Demo\Knowledge Forum\Slide7.jpg" alt="third slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">

                </div>
              </slide>
              <slide><img class="img-carousel-main" src="assets\images\Todays Demo\Knowledge Forum\Slide8.jpg" alt="third slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">

                </div>
              </slide>
              <slide><img class="img-carousel-main" src="assets\images\Todays Demo\Knowledge Forum\Slide9.jpg" alt="third slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">

                </div>
              </slide>
              <slide><img class="img-carousel-main" src="assets\images\Todays Demo\Knowledge Forum\Slide10.jpg" alt="third slide" style="display: block; width: 70%;">
                <div class="carousel-caption d-none d-md-block">

                </div>
              </slide>
          </carousel>
    </div>

    </div>
  </div>
</div>
