.fullscreen {
    /* The image used */
    background-image: url("/assets/search.jpg");
    height: 300px;
  }

  .truncate-overflow {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  .customTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .customTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1a2a44;
    color: white;
  }

  .customTable tr:nth-child(even){background-color: #f2f2f2;}
  .customTable tr:hover {background-color: #ddd;}

  .customTable td,th{
      width: 200px;
       border: 1px solid #ddd;
        padding: 8px;
      max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }